.header{
    background-color: #131921;
    align-items: center;
    color:white;
    
    position: sticky;
    top: 0;
    z-index:100;
    
    
}
.search{
    display:flex;
    flex-grow: 1;

}